@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #ffffff;
    --fg: #000000;
    --accent: #ffff00;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: 'JetBrains Mono', monospace;
    cursor: crosshair;
}

/* Force HARD edges everywhere */
* {
    border-radius: 0 !important;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 20px;
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #ffff00;
    border: 4px solid black;
}

::-webkit-scrollbar-thumb:hover {
    background: white;
}